body {
  font-family: Arial, sans-serif;
  /* max-width: 800px; */
  /* margin: 0 auto; */
  line-height: 1.6;
  background-color: white;
  color: black;
}

.primary-header {
  background: hsla(0, 0%, 0%, 95%);
}

.primary-navigation a {
  pointer-events: auto;
  cursor: pointer;
}

.product-container {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 2rem;
}
.product-image {
  max-width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.product-details {
  flex: 1;
}
.product-title {
  color: black;
  margin-bottom: 15px;
}
.product-price {
  font-size: 24px;
  color: red;
  font-weight: bold;
}
.product-description {
  color: #333;
  margin: 15px 0;
}
.product-features {
  list-style-type: none;
  padding: 0;
}
.product-features li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}
.product-features li::before {
  content: "\2022";
  position: absolute;
  left: 0;
  align-self: center;
  color: red;
}
.contact {
  background-color: red;
  color: white;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}
.contact:hover {
  background-color: black;
  color: red;
}
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    text-align: center;
  }
  .product-image {
    max-width: 100%;
  }
}
